.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .75rem;
  h2 { margin: 0; }
}

.w-100 { width: 25%; }
.mb-12 { margin-bottom: .75rem; }
.form  { display: grid; gap: .75rem; }
.seat {background: #ffffff;}

.table-wrap { margin-top: .5rem; border-radius: 12px; overflow-x: auto; }
.actions-col {
  text-align: right;
  padding-right: 12px; 
}
.actions-header {
  text-align: center;   
  padding-right: 0;     
}
th.actions-header,
td.actions-col {
  width: 260px;  
}

@media (max-width: 768px) {
  th.actions-header,
  td.actions-col { width: 220px; }
  .actions-header { transform: translateX(-6px); }
}
.actions { display: inline-flex; align-items: center; gap: .5rem; white-space: nowrap; }

.compact-table .mat-mdc-row,
.compact-table .mat-mdc-header-row { height: 34px; }
.compact-table .mat-mdc-cell,
.compact-table .mat-mdc-header-cell { padding: 4px 8px; }

::ng-deep .mat-mdc-form-field.mat-form-field-appearance-outline {
  .mat-mdc-text-field-wrapper {
    background-color: #fff !important; 
    border-radius: 6px;                
    box-shadow: none !important;       
  }

  .mat-mdc-outline-start,
  .mat-mdc-outline-end,
  .mat-mdc-outline-gap {
    border-width: 1px !important; 
    //border-color: #ccc !important;
  }

  .mat-mdc-form-field-flex {
    padding: 0 8px !important; 
  }
}

::ng-deep input.mat-mdc-input-element {
  background: #fff !important;
  color: #000;
  padding: 0px 4px;
}

